@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    --tw-bg-opacity: 1;
    background-color: rgb(251 207 232 / var(--tw-bg-opacity)) /* #fbcfe8 */;
}

.active {
    --tw-text-opacity: 1;
    color: rgb(190 24 93 / var(--tw-text-opacity)) /* #be185d */;
	font-weight: 700;
}
